/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(219, 39, 129, 0.363);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3eff160;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 55, 163, 0.363);
}
